In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('toy - toy.csv')
df

   opponent      venue   outlook  toss result
0       kkr  bangalore  overcast  lost    won
1        mi     mumbai     sunny   won    won
2       rcb     mumbai  overcast   won    won
3       kkr  bangalore     sunny  lost    won
4       kkr  bangalore     sunny   won    won
5        mi    chennai     sunny   won   lost
6       rcb    chennai     sunny   won   lost
7       kkr    chennai  overcast   won    won
8        rr  bangalore     sunny  lost    won
9       rcb     mumbai  overcast   won    won
10      kkr    chennai     sunny   won    won
11      rcb  bangalore     sunny   won    won
12       rr    chennai  overcast   won    won
13      kkr    chennai  overcast   won    won
14      kkr  bangalore  overcast   won    won
15      rcb    chennai  overcast   won   lost
16      kkr  bangalore  overcast   won   lost
17       mi  bangalore     sunny   won   lost
18      rcb    chennai     sunny  lost    won
19       mi    chennai  overcast   won   lost
20      kkr  bangalore     sunny  lost    won
21      rcb  bangalore     sunny   won   lost
22       rr  bangalore  overcast   won    won
23      kkr     mumbai     sunny   won   lost
24       rr    chennai  overcast  lost    won

# 
Question
In this task, you will work on a toy dataset of IPL with following cols:

1. Opponent

2. Venue

3. Outlook

4. Toss

5. Match result

You have to find out whether the team would lose the match or not for the following given input:

{"kkr", "chennai","overcast","lost"}

Training
Look up Table:
let P(W) be theprobability of winning the match let P(L) be the probability of loosing the match.

Formula considering the given condition:

P(kkr | result)*P(chennai | result)*P(overcast | result)*P(lost | result)*P(result)

In [54]:
print(df['result'].value_counts())
df.shape[0]
p_won=17/25
p_lost=8/25

won     17
lost     8
Name: result, dtype: int64

In [55]:
pd.crosstab(df['opponent'],df['result'])

result    lost  won
opponent
kkr          2    8
mi           3    1
rcb          3    4
rr           0    4

In [42]:
#probability of kkr winning the match
P_kkr_L=2/8
P_kkr_W=8/17

In [43]:
pd.crosstab(df['venue'],df['result'])

result     lost  won
venue
bangalore     3    8
chennai       4    6
mumbai        1    3

In [56]:
P_chennai_L=4/8
P_chennai_W=6/17

In [57]:
pd.crosstab(df['outlook'],df['result'])

result    lost  won
outlook
overcast     3    9
sunny        5    8

In [62]:
P_overcast_L=3/8
P_overcast_W=9/17

In [63]:
pd.crosstab(df['toss'],df['result'])

result  lost  won
toss
lost       0    6
won        8   11

In [64]:
P_lost_L=0/8
P_lost_W=6/17

In [65]:
#according to the formula: P(kkr | result)*P(chennai | result)*P(overcast | result)*P(lost | result)*P(result)
P_kkr_winning=P_kkr_W*P_chennai_W*P_overcast_W*P_overcast_W*P_lost_W*p_won
P_kkr_winning

0.011172280025382841

In [68]:
P_kkr_losing=p_lost*P_kkr_L*P_chennai_L*P_overcast_L*P_lost_L
P_kkr_losing

0.0

In [69]:
print("From the above result we can conclude that the probability of winning under the condition of opponent=kkr, venue=chennai, outlook=overcast and toss=lost is more than losing ")

From the above result we can conclude that the probability of winning under the condition of opponent=kkr, venue=chennai, outlook=overcast and toss=lost is more than losing